.new {
    text-align: center;
    background-color: #662222;
  font-size: 20px;
}
h1
{
    color:beige;
    text-align: center;
    text-decoration: underline;
}
.a2
{
    background-color: #842A3B;
}
body
{
    background-color: whitesmoke;
}
.a3
{
    background-color: #A3485A;
}
.a4
{
    background-color: #F5DAA7;
}
